<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DYYCarwashTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DYYStudyCoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DYYStudyObjectiveC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C16D4311C28108B00865DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C74FE761C27FF41009B76C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB8F0C61C107B4D00DE3134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE241C71BA94BF3003C1A08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4099701BFDC1B00070530B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
